build:single --crosstool_top=//tools/amd64_compiler:toolchain
build:single --verbose_failures
build:single --cpu=amd64
build:single --local_resources 8192.0,0.5,0.5
build:single --nokeep_going
build:single -j 1

build:default --crosstool_top=//tools/amd64_compiler:toolchain
build:default --verbose_failures
build:default --cpu=amd64
build:default --local_resources 8192.0,6.0,0.8
